/* || General setup */


  html {
    font-size: 10px;
    background-color: #050505;
  }
  

  /* || typography */

  h1 {
    font-family: 'Cinzel Decorative', cursive;
    color: #f7079b;
    text-shadow: 2px 2px 10px black;
  }
  
  
/* || header layout */

header {
    border: black solid 3px;
    margin-top: 10px;
  }
  
  main, header, nav, article, aside, footer, section {
    background-color: rgba(194, 35, 243, 0.5);
    padding: 1%;
  }

  header {background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%,
     rgba(0,0,0,1) 22%, rgba(247,19,197,1) 100%);
  }
  
  footer {background: rgb(247,19,197);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 22%, rgba(247,19,197,1) 100%);
  }
section { 
  background-image: url('../images/favorite-2.jpg');
  background-size: cover;
}
     body > * {
    background-color: rgb(247, 19, 197);
    padding: 1%;
  }

  article {padding: 20px;}

  nav {border: solid black;
  margin-bottom: 20px;
  }
  
  /* || main layout */

  main {
    border: black solid 3px;
    margin: -30px 30px -30px 30px;
  }
  
  aside {background: rgb(247,19,197);
  background: radial-gradient(circle, rgba(247,19,197,1) 4%,
   rgba(0,0,0,1) 63%, rgba(4,4,4,1) 100%);}
  article {background: rgb(247,19,197);
    background: radial-gradient(circle, rgba(247,19,197,1) 4%,
     rgba(0,0,0,1) 63%, rgba(4,4,4,1) 100%);}


  footer {
    border: black solid 3px;
    margin: 10px;
    text-align: center;
    z-index: -100;
    position: relative;
  }